[submodule "themes/kraiklyn"]
	path = themes/kraiklyn
	url = git@github.com:jsnjack/kraiklyn.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:miyamam/miyamam.github.io.git
	branch = master
